
      <div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="index.html">Digi File</a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="index.html">D F</a>
          </div>
          <ul class="sidebar-menu">
              <li class="menu-header">Dashboard</li>
              <li class="nav-item"><a href="#" class="nav-link"><i class="far fa-tachometer-alt"></i><span>Dashboard</span></a></li>
              <li class="nav-item"><a href="#" class="nav-link"><i class="far fa-user"></i><span>Users</span></a></li>
              <li class="nav-item"><a href="#" class="nav-link"><i class="far fa-shopping-cart"></i><span>Products</span></a></li>
              <li class="nav-item"><a href="#" class="nav-link"><i class="far fa-receipt"></i><span>Orders list</span></a></li>
              <li class="nav-item"><a href="#" class="nav-link"><i class="far fa-comments"></i><span>Comments</span></a></li>
              <li class="nav-item"><a href="#" class="nav-link"><i class="far fa-handshake"></i><span>Sellers</span></a></li>
            </ul>

            <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
              <a href="https://getstisla.com/docs" class="btn btn-primary btn-lg btn-block btn-icon-split">
                <i class="fas fa-rocket"></i> See website
              </a>
            </div>
        </aside>
      </div>
